<h1 class="text-center"><%= group.title %></h1>
<div class="well well-sm event-info-show">
  <div class="row">
    <div class="col-md-6 text-left">
      <h4><%= group.location %></h4>
    </div>
    <div class="col-md-6 text-right">
      <h4><%= group.time %></h4>
    </div>
    <div class="col-md-12">
      <p>The is going to be the best Friday ever.  Go to vote below</p>
    </div>
  </div>
  <div class="group-members">
    <img class="img-circle" src="http://lorempixel.com/50/50/people/1" alt="">
    <img class="img-circle" src="http://lorempixel.com/50/50/people/2" alt="">
    <img class="img-circle" src="http://lorempixel.com/50/50/people/3" alt="">
    <img class="img-circle" src="http://lorempixel.com/50/50/people/4" alt="">
  </div>
</div>

<div class="text-center group-buttons">
  <button type="button" id="restaurant-button" class="btn btn-primary">
    Restaurants
  </button>
  <button type="button" id="suggestion-button" class="btn btn-primary">
    Suggestions
  </button>
</div>
<!-- <form class="" action="index.html" method="GET">
  <div class="form-group">
    <label for=""></label>
    <input type="search" class="form-control" id="" placeholder="">
  </div>
</form> -->
<div class="row" id="restaurant-section">
    <% restaurants.forEach(function(restaurant) { %>
      <div class="col-md-6">
        <div class="well">
          <h2>
            <a href="<%= restaurant.url %>"><%= restaurant.name %></a>
          </h2>
          <p>This is a description of the restaurant lorem ipsum.</p>
          <strong>rating: <%= restaurant.rating %></strong>
          <form action="/groups/recommendations" method="POST">
            <input type="hidden" class="form-control" name="groupId" value="<%= group.id %>">
            <input type="hidden" class="form-control" name="name" value="<%= restaurant.name %>">
            <input type="hidden" class="form-control" name="url" value="<%= restaurant.url %>">
            <input type="hidden" class="form-control" name="rating" value="<%= restaurant.rating %>">
            <input type="submit" class="btn btn-primary" value="Suggest">
          </form>
        </div>
      </div>
      <% }); %>
</div>

<div class="row" id="suggestion-section">
  <% suggestrests.forEach(function(suggestrest) { %>
    <div class="col-md-6">
      <div class="well">
        <div class="row">
          <div class="card-header">
            <div class="col-md-10">
              <div class="group-title">
                <a href="<%= suggestrest.url %>"><%= suggestrest.restName %></a>
              </div>
            </div>
            <div class="col-md-2 text-right">
              Votes: <%= suggestrest.thumbup %>
            </div>
          </div>
        </div>

        <p>Suggested By: Chad</p>
        <p class="event-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
        <h4>Do you want to go here?</h4>
        <form id="vote-form" method="POST" action="/groups/recommendations/thumbup" style="display:inline-block">
          <input type="hidden" class="form-control" name="id" value="<%= suggestrest.id %>">
          <button class="btn btn-primary glyphicon glyphicon-thumbs-up" name="thumbup"></button>
        </form>
        <!-- <form method="POST" action="/groups/recommendations/thumbdown" style="display:inline-block">
          <input type="hidden" class="form-control" name="id" value="<%= suggestrest.id %>">
          <button class="btn btn-primary glyphicon glyphicon-thumbs-down" name="thumbdown"></button>
        </form> -->

        <!-- <div class="col-md-6">
          <a href="#" class="btn btn-default">Comment</a>
        </div> -->
      </div>
    </div>
  <% }); %>
</div>
